<h1>Chat</h1>

<ul id="chat">
	<% if not @messages.nil? %>
		<%= @messages.each do |m| %>
			<% m.content %>
		<% end %>
	<% end %>
</ul>

<%=form_for Message.new, :remote => true do |f| %>
	<%= f.text_field :content %>
	<%= f.submit "Send" %>
<% end %>
